name: deploy-manifests

on:
  push:
    branches: 
      - master
    paths: 
      - 'GitTix/infra/**'
jobs:
  build:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}
      - run: doctl kubernetes cluster kubeconfig save gittix-app
      - run: kubectl apply -f GitTix/infra/k8s && kubectl apply -f GitTix/infra/k8s-prod
