name: tests-payments

on: 
  pull_request:
    paths:
      - 'GitTix/payments/**'
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd GitTix/payments && npm install && npm run test:ci
   
